@model InternalAudit.Models.TblMasterInstitutions
@{
    ViewData["Title"] = "InstitutionsCreate";
    Layout = "~/Views/Shared/Internal.cshtml";
}

<script src="~/js/jquery.min.js"></script>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Institutions</h4>
                        <p class="card-category">Add Institutions </p>
                        @Html.ActionLink("Back to List", "InstitutionsDetails", "Institutions", null, new { @class = "btn btn-default pull-right", style = "margin-top: -49px;" })
                    </div>
                    <div class="card-body">
                        <form asp-action="InstitutionsCreate">
                            <div class="ShadowBox">
                                <div class="form1">
                                    <div class="form-group">
                                        <label for="email">District</label>
                                        <input asp-for="District" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Institutions Category</label>
                                        <input asp-for="InstitutionsCategory" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Institutions Name</label>
                                        <input asp-for="InstitutionsName" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Institutions Details</label>
                                        <input asp-for="InstitutionsDetails" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Contact</label>
                                        <input asp-for="Contact" class="form-control" id="name">
                                    </div>

                                    <div class="form-group">
                                        <label for="email">EmaiId</label>
                                        <input asp-for="EmaiId" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-outline-success" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewData["Msg"] != null)
    {
        InternalAudit.DTO.MessageDTO msg = ViewData["Msg"] as InternalAudit.DTO.MessageDTO;
        @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
    }
</div>
