@model InternalAudit.Models.RtiPdl

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Internal.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">List of RTI PDL</h4>
                            </div>
                            <div class="col-md-4">
                                @Html.ActionLink("Back", "Index", "RtiPdls", null, new { @class = "btn btn-default pull-right" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label asp-for="Details" class="control-label"></label>
                                    <input asp-for="Details" class="form-control" />
                                    <span asp-validation-for="Details" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="OriginalPetitions" class="control-label"></label>
                                    <input asp-for="OriginalPetitions" class="form-control" />
                                    <span asp-validation-for="OriginalPetitions" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label asp-for="Appealpetitions" class="control-label"></label>
                                    <input asp-for="Appealpetitions" class="form-control" />
                                    <span asp-validation-for="Appealpetitions" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="OriginalAppealPetitions" class="control-label"></label>
                                    <input asp-for="OriginalAppealPetitions" class="form-control" />
                                    <span asp-validation-for="OriginalAppealPetitions" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label asp-for="Total" class="control-label"></label>
                                    <input asp-for="Total" class="form-control" />
                                    <span asp-validation-for="Total" class="text-danger"></span>
                                </div> 
                            </div>
                            <div class="row col-12" style="justify-content:center">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewData["Msg"] != null)
    {
        InternalAudit.DTO.MessageDTO msg = ViewData["Msg"] as InternalAudit.DTO.MessageDTO;
        @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
    }
    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>

    <script>
        debugger;
        $('#PeriodCategory').change(function () {
            var ddlPeriod = $('#Period');
            $.ajax({
                type: "post",
                url: "/NoonMealForm2/GetPeriodCategory",
                data: "id=" + $(this).children("option:selected").val() + "",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Period</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].recNo + '">' + data[i].name + '</option>';
                    }
                    ddlPeriod.html(s);
                }
            });
        }
        )

    </script>
